@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&display=swap');
@import url('https://fonts.cdnfonts.com/css/cracked-code');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Nandinagari&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

/* ------------------------------------- Background -------------#1a1527---------------------------- */
.about-section
{
    height: 1200px;
    width: 100%;
    background-color: #1a1527;
    background: linear-gradient(#1a1527, #0b0a10);  
}

/* ------------------------------------- Timeline ----------------------------------------- */
#timeline-abt {
    background-color: #5918df;
    list-style: none;
    margin-left: 300px;
    height: 200%;
    position: absolute;
    top: 6870px;
    width: 1px;
}

/*----------------------------------- bullet points -----------------------------------*/

.bullet-abt {
    position: absolute;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: #988e9f;
    margin: 10px;
    padding: 20px;
    top: -45px;
}

.bullet-abt.bullet-abt:before {
    position: absolute
}

.bullet-abt:before {
    background-color: #5918df;
    border: 2px solid #5918df;
    border-radius: 50%;
    content: "";
    height: 9px;
    left: -15px;
    top: 25px;
    width: 9px;
}

/* ----------------------------------Discover txt---------------------------------------- */
#sel-abt {
    font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    font-weight:bold;
    position: absolute;
    top: 6905px;
    left: 24%;
    /* z-index: 2; */
}

/* ------------------------------------Me Img---------------------------------- */
.me-img{
    position: absolute;
    top: 7000px;
    height: 500px;
    left: 200px;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;

}

.me-img-txt{
    font-family: 'Charmonman', cursive;
    font-weight: bolder;
    font-size: 60px;
    color: #e8cdfa;
    cursor: context-menu;
}

.me-img-txt .txt1{
    position: absolute;
    top: 7330px;
    left: 110px;
}

.me-img-txt .txt2{
    position: absolute;
    top: 7410px;
    left: 350px;
}

/* ---------------------------------------About Para--------------------------------------- */
.about-para{
    position: absolute;
    top: 7050px;
    height: 500px;
    left: 700px;
    width: 700px;
    color: white;
    font-family: 'Patrick Hand', cursive;
    font-size: 23px;
    line-height: 40px;
    cursor:default;
}

#p-name{
    font-size: 42px;
    font-family:cursive;
    color:#dc88fa;
}

#p-sherlock{
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#86ff57;
}

#p-knife{
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#8cadfe;
}

#p-ml{
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#fff422;
}

#p-wd{
    font-size: 30px;
    font-family: 'Charmonman', cursive;
    font-weight: bold;
    color:#61fcff;
}

#p-iot{
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#ffa365;
}

#p-cpp{
    font-size: 30px;
    font-family: 'Noto Sans Nandinagari', sans-serif;
    font-weight: bolder;
    color:#ff0000;
}

#p-java{
    font-size: 40px;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bolder;
    color:#dc88fa;
}

#p-py{
    font-size: 35px;
    font-family: 'Pixelify Sans', sans-serif;Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#ffc7ec;
}

#p-matrix{
    font-size: 35px;
    font-family: 'VT323', monospace;
    color:#26ff00;
}

#p-bm{
    font-size: 30px;
    font-family: 'Cracked Code', sans-serif;
    font-weight: bold;
    color:#000000;
    text-shadow: 0 0 20px #ffffff, 0 0 30px #ffffff; 
}

#p-ww{
    font-size: 30px;
    font-family: 'Bad Script', cursive;
    font-weight: bold;
    color:#fff422;
}

#p-got{
    font-size: 30px;
    font-family: 'Cinzel Decorative', serif;
    font-weight: bolder;
    color:#61fcff;
}

#p-gita{
    font-size: 30px;
    font-family: 'Cinzel Decorative', serif;
    font-weight: bolder;
    color:#ff6f1b;
}

#p-st{
    font-size: 38px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#000000;
    text-shadow: 2px 0 #ff0000, -2px 0 #ff0000, 0 2px #ff0000, 0 -2px #ff0000,
             1px 1px #ff0000, -1px -1px #ff0000, 1px -1px #ff0000, -1px 1px #ff0000;
    font-family: 'EB Garamond', serif;}

#p-cont{
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#c1b2ff;
    text-decoration: none;
}

/* ------------------------------IMG reveal on txt hover----------------------------------- */

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
    z-index: 0;
}

.wrapper a {
	text-decoration: none;
}

.wrapper a span {
	position: absolute;
	display: none;
	z-index: 0;
	transform: scale(0);
	overflow: hidden;

}
.wrapper a:hover span {
    display: block;
	transform: translate(20%, -160%) scale(1.5);
	border-radius: 10px;
}	


/* ----------------------------------------Resume download-------------------------------------- */
#resumedown{
    position: relative;
    top: 970px;
    left: 40%;    

}


/* --------------------------------------- Button ---------------------------------------------- */

.btn,.btn2 {
    background: linear-gradient(-45deg,#ffa63d,#ff3d77,#1593e3,#5918df);
    background-size: 1100%;
    border: none;
    border-radius: 50px;
    color: hsla(0,0%,100%,.9);
    font-family: Roboto Mono,Courier New,Courier,monospace!important;
    font-size: 20px;
    line-height: 1;
    padding: 17px 35px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transform: scaleX(1);
    cursor: pointer;
    transition: transform .3s cubic-bezier(.175,.885,.32,1.275),background-position 3s cubic-bezier(.455,.03,.515,.955)
}

.btn {
    margin: 30px 0;
    transition: transform .3s cubic-bezier(.175,.885,.32,1.275),bottom .3s cubic-bezier(.175,.885,.32,1.275),background-position 3s cubic-bezier(.455,.03,.515,.955)
}

.btn,.btn .btn2 {
    background-position: 0 50%;
    bottom: 0
}

.btn .btn2 {
    filter: blur(30px);
    left: 0;
    opacity: .4;
    position: absolute;
    transform: scale3d(.9,.9,1);
    transition: transform .3s cubic-bezier(.175,.885,.32,1.275),filter .3s cubic-bezier(.175,.885,.32,1.275),bottom .3s cubic-bezier(.175,.885,.32,1.275),background-position 3s cubic-bezier(.455,.03,.515,.955);
    width: 100%;
    z-index: -1
}

.btn:focus,.btn:hover {
    background-position: 100% 50%;
    bottom: 2px;
    transform: scale3d(1.1,1.1,1)
}



















