/* ----------------------------------------IMAGE-1----------------------------------- */

#cerimg1{
    position: relative;
    width: 31.1vmax;
    height: 23.1vmax;
    top: 8%;
    left: 10%;
    z-index: 3;
}

#chi1{
    position: relative;
    text-align: center;
    color: white;
    display: inline-block;
    background-color: #0b0a10;
    text-shadow: 20px 10px 20px #0b0a10, 0 0 0.10em #0b0a10, 0 0 0.1em #0b0a10;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2vw;
    font-weight:500;
    margin-top: 80%;
    left: 11%;
}


@media only screen and (max-width: 1000px) {

    #cerimg1{
        top: 7%;
    }
}   

@media only screen and (max-width: 450px) {

    #cerimg1{
        top: 4%;
        left: 16%;
    }

    #chi1{
        font-size: 13px;
        left: 6%;
    }

}

/* ----------------------------------------IMAGE-2----------------------------------- */

#cerimg2{
    position: relative;
    width: 32.6vmax;
    height: 23.1vmax;
    margin-top: -9%;
    left: 56%;
    z-index: 3;
}

#chi2{
    position: relative;
    text-align: center;
    color: white;
    display: inline-block;
    background-color: #0b0a10;
    text-shadow: 20px 10px 20px #0b0a10, 0 0 0.10em #0b0a10, 0 0 0.1em #0b0a10;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2vw;
    font-weight:500;
    margin-top: 76%;
    margin-left: 15%;
}

@media only screen and (max-width: 1000px) {

    #cerimg2{
        margin-top: -8%;
    }
}

@media only screen and (max-width: 700px) {

    #cerimg2{
        margin-top: -6%;
    }
}

@media only screen and (max-width: 450px) {

    #cerimg2{
        top: 9.5%;
        left: 15%;
    }

    #chi2{
        font-size: 13px;
        margin-left: 6%;
    }

}

/* ----------------------------------------IMAGE-3----------------------------------- */

#cerimg3{
    position: relative;
    width: 31.1vmax;
    height: 22.5vmax;
    top: 8%;
    left: 10%;
    z-index: 3;
}

#chi3{
    position: relative;
    text-align: center;
    color: white;
    display: inline-block;
    background-color: #0b0a10;
    text-shadow: 20px 10px 20px #0b0a10, 0 0 0.10em #0b0a10, 0 0 0.1em #0b0a10;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2vw;
    font-weight:500;
    margin-top: 80%;
    left: 1%;
}


@media only screen and (max-width: 1000px) {

    #cerimg3{
        top: 5%;
    }
}

@media only screen and (max-width: 700px) {

    #cerimg3{
        top: 4%;
    }
}

@media only screen and (max-width: 450px) {

    #cerimg3{
        top: 14%;
        left: 16%;
    }

    #chi3{
        font-size: 13px;
        left: 6%;
    }

}

/* ----------------------------------------IMAGE-4----------------------------------- */

#cerimg4{
    position: relative;
    width: 30.6vmax;
    height: 22.5vmax;
    margin-top: -8%;
    left: 58%;
    z-index: 3;
}

#chi4{
    position: relative;
    text-align: center;
    color: white;
    display: inline-block;
    background-color: #0b0a10;
    text-shadow: 20px 10px 20px #0b0a10, 0 0 0.10em #0b0a10, 0 0 0.1em #0b0a10;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2vw;
    font-weight:500;
    margin-top: 80%;
    margin-left: 23%;
}

@media only screen and (max-width: 1000px) {

    #cerimg4{
        margin-top: -8%;
    }
}

@media only screen and (max-width: 700px) {

    #cerimg4{
        margin-top: -6%;
    }
}

@media only screen and (max-width: 450px) {

    #cerimg4{
        top: 20%;
        left: 15%;
    }

    #chi4{
        font-size: 13px;
        margin-left: 6%;
    }

}

/* ----------------------------------------IMAGE-5----------------------------------- */

#cerimg5{
    position: relative;
    width: 25.4vmax;
    height: 35.9vmax;
    top: 8%;
    left: 13%;
    z-index: 3;    
}

#chi5{
    position: relative;
    text-align: center;
    color: white;
    display: inline-block;
    background-color: #0b0a10;
    text-shadow: 20px 10px 20px #0b0a10, 0 0 0.10em #0b0a10, 0 0 0.1em #0b0a10;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2vw;
    font-weight:500;
    margin-top: 148%;
    left: 16%;
}

@media only screen and (max-width: 1000px) {

    #cerimg5{
        top: 5%;
    }
}

@media only screen and (max-width: 700px) {

    #cerimg5{
        top: 4%;
    }
}

@media only screen and (max-width: 450px) {

    #cerimg5{
        top: 24%;
        left: 21%;
    }

    #chi5{
        font-size: 13px;
        left: 6%;
    }

}

/* ----------------------------------------IMAGE-6----------------------------------- */

#cerimg6{
    position: relative;
    width: 25.4vmax;
    height: 35.9vmax;
    top: -12%;
    left: 62%;
    z-index: 3;    
}

#chi6{
    position: relative;
    text-align: center;
    color: white;
    display: inline-block;
    background-color: #0b0a10;
    text-shadow: 20px 10px 20px #0b0a10, 0 0 0.10em #0b0a10, 0 0 0.1em #0b0a10;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2vw;
    font-weight:500;
    margin-top: 148%;
    left: 16%;
}

@media only screen and (max-width: 1100px) {

    #cerimg6{
        top: -13%;
    }
}

@media only screen and (max-width: 500px) {

    #cerimg6{
        top: -10%;
    }
}

@media only screen and (max-width: 450px) {

    #cerimg6{
        top: 28%;
        left: 21%;
    }

    #chi6{
        font-size: 13px;
        left: 6%;
    }

}


/* ----------------------------------------IMAGE-7----------------------------------- */

#cerimg7{
    position: relative;
    width: 34.6vmax;
    height: 23.1vmax;
    top: -6%;
    left: 33%;
    z-index: 3;    
}

#chi7{
    position: relative;
    text-align: center;
    color: white;
    display: inline-block;
    background-color: #0b0a10;
    text-shadow: 20px 10px 20px #0b0a10, 0 0 0.10em #0b0a10, 0 0 0.1em #0b0a10;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2vw;
    font-weight:500;
    margin-top: 73%;
    left: 26%;
}

@media only screen and (max-width: 1200px) {

    #cerimg7{
        top: -5%;
    }
}

@media only screen and (max-width: 450px) {

    #cerimg7{
        top: 32%;
        left: 16%;
    }

    #chi7{
        font-size: 13px;
        left: 23%;
    }

}
