/* ------------------------------------- Background ----------------------------------------- */

.back-class {
    margin-top: 600px;
    height: 185vmax;
    width: 100%;
    background-color: #1a1527;
    background: linear-gradient(#1a1527, #0b0a10);
    z-index: -3;
}

@media only screen and (max-width: 1130px) {
    .back-class {
        height: 1650px;
    }
}

@media only screen and (max-width: 650px) {
    .back-class {
        height: 1650px;
    }
}

@media only screen and (max-width: 500px) {
    .back-class {
        height: 1650px;
    }
}

/* ------------------------------------- Timeline ----------------------------------------- */
#timeline-prj {
    background-color: #5918df;
    list-style: none;
    margin-left: 21%;
    height: 500%;
    position: absolute;
    top: 750px;
    width: 2px;
    z-index: 1;
}

/*----------------------------------- bullet points -----------------------------------*/

.bullet-prj {
    position: absolute;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: #988e9f;
    margin: 10px;
    padding: 20px;
    top: -45px;
}

.bullet-prj.bullet-prj:before {
    position: absolute
}

.bullet-prj:before {
    background-color: #5918df;
    border: 2px solid #5918df;
    border-radius: 50%;
    content: "";
    height: 9px;
    left: -15px;
    top: 25px;
    width: 9px;
}

/* ---------------------------------MAIN TEXT---------------------------------- */

#sel-prj {
    font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2vmax;
    font-weight: bold;
    position: absolute;
    top: 730px;
    left: 24%;
    z-index: 2;
}

/* ---------------------------------------AIML--------------------------------------- */

#aiml {
    position: relative
}

#aiml:before {
    color: #221d35;
    content: "AIML";
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15vmax;
    font-weight: bold;
    position: absolute;
    right: 00px;
    top: 10px;
    z-index:0;
}


/* ---------------------------------------WEB--------------------------------------- */

#web {
    position: relative
}

#web:before {
    color: #221d35;
    content: "WEB";
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15vmax;
    font-weight: bold;
    position: absolute;
    background-color: #120f1b;  /*#0e0b14 */
    /* height: 250px; */
    left: 10px;
    margin-top: -17vmax;
    z-index: 1;
}

@media only screen and (max-width: 500px) {
    #web:before {
        margin-top: 50vmax;
    }
}



