html {
    scroll-behavior: smooth;
}

* {
    margin: 0px;
    padding: 0px;
}

.nav-bar {  
    height: 78px;
    background: rgb(16 14 23);
    z-index: 5;
}

.brand img {
    float: left;
    position: absolute;
    height: 60px;
    width: 120px;
    margin: 9px 30px;
    border-radius: 10px;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
}

nav ul li {
    float: left;
    position: relative;
    font-size: 1.3rem
}

nav ul li a {
    display: block;
    padding: 6px 30px;
    margin-top: 20px;
    background: rgb(16 14 23);
    border-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    background: #ffffff;
    color: #000000;
    border-radius: 30px;
}

nav ul li a.active {
    background: #ff0000;
    color: #000000;
    border-radius: 30px;
}

.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 70px;
    width: 70px;
}

#nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 15px 0px;
}

#nav-toggle span,
#nav-toggle span::before,
#nav-toggle span::after {
    position: absolute;
    display: block;
    content: '';
    background: #fff;
    height: 5px;
    width: 35px;
    transition: all 300ms ease-in-out;
}

#nav-toggle span::before {
    top: -10px;
}

#nav-toggle span::after {
    bottom: -10px;
}

#nav-toggle.active span {
    background-color: transparent;
}

#nav-toggle.active span::before,
#nav-toggle.active span::after {
    top: 0;
}

#nav-toggle.active span::before {
    transform: rotate(45deg);
}

#nav-toggle.active span::after {
    transform: rotate(-45deg);
}

#bg {
    position: absolute;
    top: -1px;
    width: 100%;
    margin-bottom: -6px;
    z-index: -2;
    height: 720px;
}


.video {
    right: 0%;
    top: 83px;
    width: 550px;
    mix-blend-mode: screen;
    z-index: -1;
}


/* Purple elements color */
#purple {
    color: #5918df;
}

strong {
    color: white;
    font-size: 50px;
    font-weight: bolder;
    filter: drop-shadow(0 0px 0px);
}

/* ----------------------------Main txt (name) -------------------------------------*/
.main-txt {
    font-size: 19px;
    color: white;
    position: absolute;
    top: 225px;
    left: 24%;
}

/* ------------------------------------- Timeline ----------------------------------------- */
#timeline {
    background-color: #5918df;
    list-style: none;
    margin-left: 21%;
    height: 200%;
    position: absolute;
    top: 200px;
    width: 2px;
    z-index: 1;
}

/*----------------------------------- bullet points -----------------------------------*/
.bullet_like {
    position: relative;
    display: inline-block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    color: #988e9f;
    margin: 0px;
    padding: 0px;
    margin-top: 60px;
    z-index: 2;
}

.bullet {
    position: absolute;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: #988e9f;
    margin: 10px;
    padding: 20px;
    top: -45px;
}

.bullet.bullet:before {
    position: absolute
}

.bullet:before {
    background-color: #5918df;
    border: 2px solid #5918df;
    border-radius: 50%;
    content: "";
    height: 9px;
    left: -15px;
    top: 25px;
    width: 9px;
}

.bullet-title:before {
    background-color: #1b191e;
    border: 2px solid #5918df;
    content: "";
    position: absolute;
}

/* -------------------------------------------Design---------------------------------------------- */
.designer-txt {
    font-family: 'Charmonman', cursive;
    font-weight: bolder;
    font-size: 38px;

}

/* ---------------------------------------------- txt change---------------------------------------------------- */

.word {
    position: absolute;
    font-size: 38px;
    font-weight: bolder;
    color: #dcd1ec;
    margin-top: -12%;
    left: 50%;
    animation: switch 5s infinite ease-in-out;
}

.word:nth-child(1) {
    animation-delay: -6s;
}

.word:nth-child(2) {
    animation-delay: -5s;
}

.word:nth-child(3) {
    animation-delay: -4s;
}

.word:nth-child(4) {
    animation-delay: -3s;
}

.word:nth-child(5) {
    animation-delay: -2s;
}

@keyframes switch {

    0%,
    5%,
    100% {
        filter: blur(0px);
        opacity: 1;
    }

    50%,
    80% {
        filter: blur(180px);
        opacity: 0;
    }
}

/* -----------------------------Website Load Main Text Load--------------------------------------- */

.block-reveal {
    align-items: center;
    display: flex;
    display: inline-block;
    overflow: hidden;
    position: relative
}

.block-reveal__text {
    margin: .3em 0;
    opacity: 0
}

.block-reveal__block {
    background: #5918df;
    content: "";
    height: 100%;
    position: absolute;
    transform: translateX(calc(100% + 1px));
    width: 100%;
    will-change: transform;
    z-index: 1
}

.block-reveal__block.white {
    background-color: #f9f9f9
}

.block-reveal.projects {
    background-clip: border-box;
    margin: -11px;
    padding: 11px
}

.block-reveal--active .block-reveal__text {
    animation: block-reveal-text 0s;
    animation-delay: .4s;
    animation-fill-mode: forwards;
    will-change: transform, opacity
}

.block-reveal--active .block-reveal__block {
    animation: block-rev-block .8s;
    animation-timing-function: cubic-bezier(.65, .05, .36, 1)
}

.block-reveal--deactive .block-reveal__text {
    animation: block-reveal-text-back 0s;
    animation-delay: .3s;
    animation-fill-mode: forwards;
    opacity: 1;
    will-change: transform, opacity
}

.block-reveal--deactive .block-reveal__block {
    animation: block-rev-block-back .8s;
    animation-timing-function: cubic-bezier(.65, .05, .36, 1)
}

.block-reveal--active.projects .block-reveal__block,
.block-reveal--active.projects .block-reveal__text {
    animation: none;
    opacity: 1;
    transform: translateX(calc(100% + 1px))
}

@keyframes block-rev-block {
    0% {
        transform: translateX(-100%)
    }

    to {
        transform: translateX(calc(100% + 1px))
    }
}

@keyframes block-rev-block-back {
    0% {
        transform: translateX(calc(100% + 1px))
    }

    to {
        transform: translateX(-100%)
    }
}

@keyframes block-reveal-text {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes block-reveal-text-back {
    0% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}


/* -----------------------------SCROLL TXT-------------------------------------- */

.scroll {
    top: 570px;
    margin-left: calc(21% - 33px);
    z-index: 2;
}

.scroll span {
    color: #5918df;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    position: absolute;
    text-shadow: 0 3px 14px #181619, 0 -3px 14px #181619, 3px 0 14px #181619, -3px 0 14px #181619, 0 3px 6px #181619, 0 -3px 6px #181619, 3px 0 6px #181619, -3px 0 6px #181619;
    transform: rotate(-90deg);
}


/* ------------------------------ Scale ++ hover --------------------------------------- */

.scale-hover {
    position: absolute;
    cursor: pointer;
    transform: scaleX(1);
    transition: all .3s cubic-bezier(.165, .84, .44, 1)
}

.scale-hover:hover {
    transform: scale3d(1, 1.2, 1)
}

.scale-hoverall {
    position: absolute;
    transform: scaleX(1);
    transition: all .3s cubic-bezier(.165, .84, .44, 1)
}

.scale-hoverall:hover {
    transform: scale3d(1.1, 1.1, 1) translate(-26px)
}


@media only screen and (max-width: 1030px) {

    .nav-mobile {
        display: block;

    }

    nav {
        width: 180px;
        margin-top: 28px;
        padding: 50px 10px;
        margin-bottom: -50px;
    }

    nav ul {
        display: none;
    }

    nav ul li {
        float: none;
        z-index: 10;
    }

    nav ul li a {
        padding: 15px;
        line-height: 8px;
        padding-left: 20%;
        margin: 2px;
    }


    nav ul li ul li a {
        padding-left: 60%;
    }

    .nav-dropdown {
        position: static;
    }

}


@media screen and (min-width: 1030px) {
    .nav-list {
        display: block !important;
    }

}

@media only screen and (max-width: 575px) {
    .word {
        left: 0%;
    }
    .bullet_like {
        font-size: 18px;
    }
}

